$color-primary-50: #eff9fc;
$color-primary-100: #d8eef5;
$color-primary-200: #b5ddec;
$color-primary-300: #81c4df;
$color-primary-400: #47a2c9;
$color-primary-500: #297ea5;
$color-primary-600: #276c93;
$color-primary-700: #265978;
$color-primary-800: #264b64;
$color-primary-900: #244055;
$color-primary-950: #132839;
